body {
    background-color: rgb(13, 13, 13);
    font-family: Lato, sans-serif;
    margin: 0;
    background-image: url(etnik3.webp);
    background-repeat:repeat;
    background-size: 10%; 
    background-attachment: fixed;
}
#mainproject {
    
    }

#buttons {
    color: white;
}
#harita {
    text-align: center;
    padding-top: 200px;
}
#buttons {
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 30px;
}
#konum {
    color: white;
    text-align: center;
    margin-top: 10px;
}
#navbar {
    background-color: black;
    color: whitesmoke;
    width: 100%;
    height: 17%;
    position:fixed;
    opacity: 85%;
}
ul{
    list-style:none;
    margin:0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1cm 0;
}
li a {
    text-decoration: none;
    color: white;
    padding-right: 1.8cm;
    position:relative;
    transition: all ease-in-out 250ms;
    font-size: 20px;
    opacity: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li:first-child{
    margin-right: auto;
    margin-left: 0.5cm;
    margin-top: -0.55cm;
    opacity:100%;
}
li a::after{
    content: '';
    position: fixed;
    display: block;
    height: 0.10cm;
    width: 0%;
    background-color: rgb(43, 41, 41);
    bottom: -1em;
    transition: all ease-in-out 250ms;
}
li a:hover::after{
    width: 60%;
    opacity: 60%;
}
li a:hover {
    color: gray;
    transition: all ease-in-out 250ms;
    opacity: 70%;
}


    #goupbutton {
    position: fixed;
    bottom: 1%;
    right: 1%;
    } 
    #call-button{
        position: fixed;
        bottom: 1.5%;
        left: 1%;
        font-size: 25px;
        background-color: black;
        padding: 5px;
        border: 1px solid;
        border-color: rgb(50, 49, 49);
    }   
    div.gallery {
        margin: 5px;
        border: 1px solid rgb(60, 59, 59);
        float: left;
        width: 500px;
        margin-top: 5cm;
        background-color: black;
        margin-left: 3.85cm;
        margin-bottom: -3cm;
      }
      
      div.gallery:hover {
        border: 1px solid rgb(60, 59, 59);
        border-radius: 4px;
      }
      
      div.gallery img {
        width: 600px;
        height: 200px;
        padding: 40px;
      }
      
      /*
      nav{
        padding: 0 50px;
        width: 100%;
      }
      #navbar-one {
        background-color: #777;
        cursor: pointer;

      } */